.exercise1{
    margin: 45px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    padding: 50px 0;
}
.exercise1, .exercise2{
    border-bottom: 1px solid #ccc;
}

.exercise2, .exercise3{
    text-align: center;
}
.gallery{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 10px;
}
.gallery img{
    display: block;
    width: 100%;
}
button{
    margin: 20px;
    padding: 10px;
}