.exercise1, .exercise2, .exercise3{
    margin: 45px auto 0;
    display: flex;
    justify-content: center;
    max-width: 1280px;
}
.exercise1, .exercise2{
    border-bottom: 1px solid #ccc;
}
.exercise2, .exercise3{
    text-align: center;
}
.exercise2{
    justify-content: space-between;
    flex-wrap: wrap;
}
.exercise2 div{
    width: 30%;
    min-width: 300px;
    margin: auto;
    margin: 0 auto 20px;
}